body{
  box-sizing: border-box;
  background-color: black;
  height: 100%
}

nav{
  padding: 10px;
  margin-bottom: 10px;
}

.jumbotron{
  background-image:url(../images/70909237-abstract-modern-blue-black-carbon-fiber-textured-material-design-for-background-wallpaper-graphic-de.jpg);
  background-size: contain;
  text-align: center;
  align-items: center;
  color: white;
  height: 500px;
}
