body{
  box-sizing: border-box;
  background-color: black;
  margin: 0;
}

nav{
  padding: 10px;
  margin-bottom: 10px;
}

.jumbotron{
  background-image:url(../images/70909237-abstract-modern-blue-black-carbon-fiber-textured-material-design-for-background-wallpaper-graphic-de.jpg);
  background-size: contain;
  text-align: center;
  align-items: center;
  color: white;
  height: 500px;
}

.bottom-image{
  display: flex;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 15px;
}

.bottom-image, .card-title{
  color: Navy;
}

.bottom-image, .card-text{
  color: black;
}
