body{
  box-sizing: border-box;
  background-color: lavender;
  margin: 0;
}

nav{
  padding: 15px;
}




.jumbotron{
  background-image:url(../images/milky-way-2750627__340.jpg);
  background-size: cover;
  text-align: center;
  align-items: center;
  color: white;
  height: 500px;
  margin-top: 10px
}

.bottom-image{
  display: flex;
  text-align: left;
  padding: 15px;
  margin-bottom: 80px;
}

.bottom-image, .card-title{
  color: Navy;
}

.bottom-image, .card-text{
  color: black;
}

.footer, .back-to-top{
  color: black;
  text-decoration: none;
}
